@font-face {
  font-family: 'test';
  src:
    url('Cantarell-Bold.ttf');
}

body{
  background-color:#555;
}

.header{
  background-color:#ffd999;
  padding:1px;
}

.header H1{
  font-family: test;
  text-align:center;
  color:#333;

  font-size:6em;
}

.header H1:hover{
      text-decoration: underline;
  color:#888;
}

.body{
  height:auto;
  background-color:#bbb;
}

.body .test a{
  position:absolute;
  right:10px;
  color:#999;
}

.right-side{
  text-align:center;
}

.left-side{


}

.body form{
  color:white;
}



.body .test a:hover{
  right:20px;
}


.footer{
  background-color:#555;
}

.footer table{
  padding:5px;
  margin:0 auto;
}

.footer table td{
  text-align:center;
  padding:10px;
  background-color:#999;
  width:30px
}

.footer table td:hover{
  background-color:#fff;

}
